/* start main rule  */

@import url("layout.css");
@import url("typography.css");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #fed700;
  --text-color: #e5e5e5;
  --background-color: #202020;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

/* end main rule */

/* ----------------------------start index.html styling--------------------------------- */

/* start header */

header {
  padding: 10px 0px;
}

.main-nav {
  margin-top: 5px;
  list-style: none;
}

.main-nav li {
  padding: 0px 10px;
}

.main-nav li a,
.logo a {
  color: var(--text-color);
}

.main-nav li a:hover {
  color: var(--primary-color);
  transition: color 1s;
}

/* end header */

/* start main */

main {
  margin-top: 80px;
}

figure {
  cursor: pointer;
  padding: 40px;
}

.image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: solid 10px #444444;
  border-radius: 50%;
}

.image img {
  height: 100%;
  width: 100%;
}

.image img:hover {
  transform: scale(1.1);
}

figure figcaption {
  color: var(--text-color);
  margin-top: 10px;
}

figure figcaption:hover {
  color: var(--primary-color);
  transition: color 1s;
}

.content {
  padding: 10px;
}

.content h3,
.content p {
  color: var(--text-color);
}

.content h2 {
  color: var(--primary-color);
  padding: 5px 0px 9px;
}

/* end main */

/* start footer */

footer {
  border-top: #444444 solid 1px;
  padding: 30px;
  margin-top: 100px;
}

footer a i {
  color: var(--primary-color);
  transition: 0.5s;
}

footer a i:hover {
  transform: rotate(360deg);
}

/* end footer */

/* ----------------------------end index.html styling--------------------------------- */

/* ----------------------------start blog-post.html styling--------------------------------- */

/* start title */

.title {
  letter-spacing: 2px;
  text-align: center;
}

.title h2 {
  color: var(--primary-color);
  padding: 10px;
}

.title blockquote {
  color: var(--text-color);
}

/* end title */

/* start cards */

.cards {
  margin-top: 40px;
}

article {
  background-color: var(--text-color);
  padding: 20px;
  text-align: center;
  border: solid 2px #fed700;
  border-radius: 5px;
}

article h3,
article p {
  padding: 10px;
}

article button {
  padding: 10px;
  border: 1px solid #202020;
  border-radius: 5px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

article button:hover {
  background-color: var(--primary-color);
}

article button a {
  color: var(--background-color);
}

/* end cards */

/* ----------------------------end blog-post.html styling--------------------------------- */