/* ------------------- start main role -------------------  */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
@import url("./layout.css");
@import url("./typography.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #202020;
}

.container {
  width: 1170px;
  margin: auto;
}

/* ------------------- end main role -------------------  */

/* ------------------- start header -------------------  */
.title{
  color: #e5e5e5;
  text-align: center;
  padding: 30px;
}
.header-area {
  padding: 25px 0;
  transition: padding 0.3s;
}

.logo .fa-bolt {
  color: #fed700;
  font-size: 19.5px;
  position: absolute;
  top: 60%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header ul li:first-child {
  margin-right: auto;
}

.header ul li {
  margin: 0 15px;
}

.header .menu_icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

/* ------------------- end header -------------------  */

/* ------------------- start home page -------------------  */

.FirstElement.adjusted-padding {
  padding-top: 40px;
}

.FirstElement .profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #444444;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

profile-photo .img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.FirstElement .profile-photo img:hover {
  transform: scale(1.2);
}

.profile-text .social i {
  color: #e5e5e5;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.5s;
}

.profile-text .social i:hover {
  color: #fed700;
  transform: rotate(360deg);
}

/* ------------------- end HomePage -------------------  */

/* ------------------- start Projects -------------------  */
.project-content {
  padding: 90px 0;
  color: #fff;
}

.project-title {
  margin-bottom: 60px;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  padding: 30px 15px;
  color: #e5e5e5;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  width: 100%;
  position: relative;
  padding: 25px;
  text-align: center;
  flex-basis: 32%;
  transition: 0.3s;
}

.project i {
  background-color: #fed700;
  width: 60px;
  height: 60px;
  color: #333;
  font-size: 26px;
  line-height: 60px;
  border-radius: 50%;
}

.project:hover {
  border-color: #fed700;
}

/* ------------------- end Projects -------------------  */

/* ------------------- start footer -------------------  */

.footer .message {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

.footer .copyright {
  font-size: 12px;
}

/* ------------------- end footer -------------------  */
