/* ------------------- start main role -------------------  */
a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
  }
  /* ------------------- end main role -------------------  */

  /* ------------------- start header -------------------  */
  .header ul li a {
    text-transform: capitalize;
    display: block;
  }
  .header ul li a.active {
    color: #fed700;
  }
  .header ul li a:hover {
    color: #fed700;
  }
/* ------------------- end header -------------------  */

/* ------------------- start HomePage -------------------  */
.profile-text h5 {
    color: #e5e5e5;
    font-size: 14px;
  }
  .profile-text h1 {
    color: #fed700;
    font-size: 3rem;
  }
  .profile-text p {
    color: #e5e5e5;
  }
  /* ------------------- end HomePage -------------------  */

  /* ------------------- start Projects -------------------  */
  .project-title h4 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    color: #fed700;
    margin-bottom: 20px;
  }
  .project-title p {
    color: #e5e5e5;
  }

  .project h4 {
    font-size: 26px;
    text-transform: capitalize;
    margin: 20px 0;
  }
  .project p {
    text-align: justify;
  }
  /* ------------------- end Projects -------------------  */